body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    height: 100vh;
}

.bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #141414 50%, #1C1C1C 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg._theme {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-120deg, #ddd 50%, #aaa 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2, .bg2._theme {
    animation-direction:alternate-reverse;
    animation-duration:14s;
}

.bg3, .bg3._theme {
    animation-duration:11s;
}

.bg4, .bg4._theme {
    animation-direction:alternate-reverse;
    animation-duration:7s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

._theme {
    color: black;
}

.app {
    align-self: center;
    width: auto;
    min-height: auto;

    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.error {
    align-self: center;
    font-weight: 600;
    margin: 20px;
    padding: 4px;
    display: flex;
    border: solid 2px #bd3826;
    color: #bd3826;
}

.regSection {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.regSection * {
    margin-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    width: 200px;
    height: 110px;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: inset 0 0 0 2px white;
}

.header::before,
.header::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 6px #EF6C00;
    animation: anim-header 10s linear infinite;
}
.header::before {
    animation-delay: -5s;
}

.header._theme {
    box-shadow: inset 0 0 0 2px black;
}

@keyframes anim-header {
    0%, 100% {
        clip: rect(0px, 220px, 6px, 0px);
    }
    25% {
        clip: rect(0px, 6px, 220px, 0px);
    }
    50% {
        clip: rect(218px, 220px, 220px, 0px);
    }
    75% {
        clip: rect(0px, 220px, 220px, 218px);
    }
}

.regform {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.regform__input {
    background-color: inherit;
    border: none;
    border-bottom: solid 2px #EF6C00;
    font-size: 18px;
    outline: none;
    color: white;
    padding: 3px 8px;
}

.regform__input:valid {
    background-color: inherit;
    color: white;
}

.regform__password {
    margin-bottom: 112px;
}

.regform__button {
    background: transparent;
    width: 150px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    color: #EF6C00;
    border: solid 1px #EF6C00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.regform__button:hover {
    text-decoration: underline;
}

.link {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
}

.form input {
    background-color: inherit;
    border: none;
    border-bottom: solid 2px #EF6C00;
    font-size: 18px;
    outline: none;
    color: white;
    padding: 3px 8px;
    margin-bottom: 30px;
}

.form__button {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 140px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    color: #EF6C00;
    border: solid 1px #EF6C00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 40px 0;
}

.form__button:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu__link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 140px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    color: #EF6C00;
    border: solid 1px #EF6C00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__link:first-child {
    margin-right: 50px;
}

.menu__user {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.library {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.library__add {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 332px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    color: #EF6C00;
    border: solid 1px #EF6C00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}

.library__add:hover {
    text-decoration: underline;
}

.library__list {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    width: 300px;
    list-style-type: none;
    padding-left: 20px;
}

.library__list * {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5px;
}

.library__book {
    display: block;
    width: 260px;
    margin-left: 20px;
    text-decoration: none;
    word-wrap: break-word;
    color: white;
}

.library__book:hover {
    text-decoration: underline;
}

.library__book._theme {
    color: black;
}

.library__del {
    color: #EF6C00;
    width: auto;
    height: fit-content;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: inherit;
    background-image: linear-gradient(to left, transparent, transparent 50%, #EF6C00 50%, #EF6C00);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid #EF6C00;
    cursor: pointer;
}

.library__del:hover {
    background-position: 0 0;
    color: white;
}

.book {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 0;
    width: 350px;
}

.book * {
    text-align: center;
    display: block;
    word-break: break-word;
}

.book__info {
    margin-bottom: 30px;
}

.editlink {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 140px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
    color: #EF6C00;
    border: solid 1px #EF6C00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}

.editlink:hover {
    text-decoration: underline;
}

.link__back {
    align-self: center;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.link__back:hover {
    text-decoration: none;
}

.link__back._theme {
    color: black;
}
