body {
    display: flex;
    justify-content: center;
    background: aliceblue;
    font-size: 18px;
}

body * {
    background: white;
}

._theme {
    background-color: #1e094d;
    color: white;
}

.app {
    width: 300px;
    min-height: 350px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
}

.error {
    align-self: center;
    font-weight: 600;
    text-shadow: -1px 1px 1px black,
    1px 1px 1px black;
    color: white;
    background-color: lightsteelblue;

}

.regSection {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.regSection * {
    margin-bottom: 10px;
}

.regform {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.regform__password {
    margin-bottom: 112px;
}

.regform__button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: underline;
    color: white;
    background:linear-gradient(45deg,#3bade3 0%,#576fe6 25%,#9844b7 51%,#ff357f 100%);
}

.regform__button:hover {
    background: cornflowerblue;
    text-decoration: none;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
}

.form input {
    height: 20px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 4px;
    text-align: center;
}

.form__button {
    align-self: center;
    background:linear-gradient(45deg,#3bade3 0%,#576fe6 25%,#9844b7 51%,#ff357f 100%);
    outline: none;
    text-decoration: underline;
    border-radius: 4px;
    border: none;
    margin: 40px 0;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form__button:hover {
    background: cornflowerblue;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu__link {
    cursor: pointer;
    font-weight: 600;
    color: white;
    background:linear-gradient(45deg,#ff357f 0%,#9844b7 25%,#576fe6 51%,#3bade3 100%);
    line-height: 1.7rem;
    border-radius: 2px;
}

.menu__link:hover {
    background: cornflowerblue;
    text-decoration: none;
}

.menu__link:first-child {
    margin-right: 50px;
}

.menu__user {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.library {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

.library__add {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background:linear-gradient(45deg,#3bade3 0%,#576fe6 25%,#9844b7 51%,#ff357f 100%);
}

.library__add:hover {
    background: cornflowerblue;
    text-decoration: none;
}

.library__list {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    list-style-type: none;
    padding: 0;
}

.library__list * {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5px;
}

.library__book {
    display: block;
    width: 170px;
    margin-left: 20px;
    text-decoration: none;
    word-wrap: break-word;
    color: black;
}

.library__book:hover {
    text-decoration: underline;
}

.library__book._theme {
    color: white;
}

.library__del {
    color: lightsteelblue;
    width: auto;
    height: fit-content;
    text-decoration: none;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, lightsteelblue 50%, lightsteelblue);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid lightsteelblue;
    cursor: pointer;
}

.library__del:hover {
    background-position: 0 0;
    color: #fff;
}

.book {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 0;
    width: 280px;
}

.book * {
    text-align: center;
    display: block;
    word-break: break-word;
}

.book__info {
    margin-bottom: 30px;
}

.editlink {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background:linear-gradient(45deg,#3bade3 0%,#576fe6 25%,#9844b7 51%,#ff357f 100%);
}

.editlink:hover {
    text-decoration: none;
    background: cornflowerblue;
    border-color: cornflowerblue;
}

.link__back {
    align-self: center;
}
